JOBS_INSTANCE_ID=jobs-local
JOBS_HEALTH_BIND=0.0.0.0:3001
JOBS_CORE_FAST_CONCURRENCY=4
JOBS_CORE_FAST_CLAIM_BATCH=4
JOBS_CORE_BULK_CONCURRENCY=2
JOBS_CORE_BULK_CLAIM_BATCH=2
JOBS_OPS_CONCURRENCY=4
JOBS_OPS_CLAIM_BATCH=4
JOBS_POLL_INTERVAL_MS=250
JOBS_LEASE_SECONDS=300
JOBS_HEARTBEAT_SECONDS=30
JOBS_JOB_TIMEOUT_SECONDS=900
JOBS_SHUTDOWN_GRACE_SECONDS=30

NATS_URL=nats://127.0.0.1:4222
JOBS_NATS_JOB_INGRESS_CONCURRENCY=2
JOBS_NATS_IMPRESSION_CONCURRENCY=2
JOBS_NATS_RETRY_SECONDS=30
JOBS_NATS_MAX_AGE_SECONDS=259200
JOBS_NATS_JOB_STREAM_MAX_BYTES=1073741824
JOBS_NATS_IMPRESSION_STREAM_MAX_BYTES=8589934592

QDRANT_URL=http://127.0.0.1:6334
QDRANT_API_KEY=
COLLAB_AUTO_TRAIN=true
COLLAB_MIN_COUNT=3
COLLAB_MIN_SESSIONS=20
COLLAB_OBJECT_MAX_BYTES=536870912
COLLAB_TRAIN_INTERVAL_SECONDS=21600
TASTE_DISPATCH=false
TASTE_EXPORT_INTERVAL_S=86400
TASTE_REFRESH_INTERVAL_S=300
TASTE_HISTORY_DAYS=180
TASTE_MIN_USERS=500
TASTE_EPOCHS=10
TASTE_BATCH_SIZE=512
TASTE_NEGATIVES=1024
TASTE_SEED=1
TASTE_KEEP_VERSIONS=3
TASTE_MAX_OBJECT_BYTES=
DURATION_RESOLVER_INTERVAL_SECONDS=60
DURATION_RESOLVER_BATCH_SIZE=500
DURATION_RESOLVER_CONCURRENCY=4
DURATION_RESOLVER_REQUEST_GAP_MS=150
MAX_TRACK_DURATION_SEC=420
SOUNDCLOUD_API_V2_URL=https://api-v2.soundcloud.com
SOUNDCLOUD_WEB_URL=https://soundcloud.com
SC_PROXY_URL=
CALL_CONTROL_ENDPOINT=
CALL_RELAY_SECRET=
SC_PROXY_FALLBACK=false

DATABASE_URL=postgres://soundcloud:soundcloud@127.0.0.1:5432/soundcloud_desktop
DATABASE_REQUIRE_MTLS=false
PG_POOL_MIN=2
PG_POOL_MAX=8
PG_ACQUIRE_TIMEOUT_MS=10000
PG_BULK_POOL_MIN=0
PG_BULK_POOL_MAX=2
PG_BULK_ACQUIRE_TIMEOUT_MS=30000

OPS_DATABASE_URL=postgres://soundcloud:soundcloud@127.0.0.1:5433/soundcloud_ops
OPS_DATABASE_REQUIRE_MTLS=false
OPS_PG_POOL_MIN=2
OPS_PG_POOL_MAX=8
OPS_PG_ACQUIRE_TIMEOUT_MS=10000
OPS_PG_BULK_POOL_MIN=0
OPS_PG_BULK_POOL_MAX=2
OPS_PG_BULK_ACQUIRE_TIMEOUT_MS=30000

SUBSCRIPTIONS_ALWAYS_PREMIUM=false
SUBSCRIPTIONS_SNAPSHOT_DIR=/snapshots
SUBSCRIPTIONS_SNAPSHOT_MAX_BYTES=16777216
SUBSCRIPTIONS_SNAPSHOT_MAX_ENTRIES=100000
RECS_COLIKE_REBUILD_SECS=21600
RECS_QUALITY_BACKFILL_SECS=600
RECS_TRAINER_CRON_SECS=21600
RECS_WAVE_BUMP_SECS=3600
RECS_WAVE_BUMP_SHARDS=16
ENRICH_ENABLED=true
ENRICH_CONSUMER_CONCURRENCY=32
ENRICH_MAX_ATTEMPTS=5
ENRICH_MB_RATE_LIMIT_MS=1100
ENRICH_AI_ENABLED=true
ENRICH_AI_TIMEOUT_MS=20000
ENRICH_AI_DAILY_BUDGET=5000
GENIUS_ACCESS_TOKEN=
GENIUS_MAX_CONCURRENT_SCRAPES=128
MUSIXMATCH_API_BASE=https://apic-desktop.musixmatch.com/ws/1.1
DISCOVERY_ENABLED=true
DISCOVERY_INTEREST_INTERVAL_SEC=3600
DISCOVERY_ARTIST_PLAYS_SHARDS=8
DISCOVERY_INTEREST_SHARDS=8
DISCOVERY_CRAWL_INTERVAL_SECONDS=60
DISCOVERY_BATCH=256
DISCOVERY_GENIUS_CONCURRENCY=64
DISCOVERY_MB_BATCH=32
DISCOVERY_MB_CONCURRENCY=8
DISCOVERY_IDENTITY_BATCH=128
DISCOVERY_LEASE_SECONDS=1800
DISCOVERY_RECRAWL_DAYS=14
DISCOVERY_MAX_FAILS=8
DISCOVERY_POST_CRAWL_WANTED_MAX=256
DISCOVERY_ACCOUNT_WALK_DAYS=7
DISCOVERY_ACCOUNT_WALK_LEASE_SECONDS=1800
DISCOVERY_ACCOUNT_WALK_BATCH=64
DISCOVERY_ACCOUNT_WALK_CONCURRENCY=16
WANTED_RESOLVE_INTERVAL_SECONDS=60
WANTED_RESOLVE_BATCH=128
WANTED_RESOLVE_CONCURRENCY=64
WANTED_RESOLVE_LEASE_SECONDS=1800
WANTED_RESOLVE_MAX_ATTEMPTS=8
LYRICS_LOOKUP_INTERVAL_SECONDS=60
LYRICS_LOOKUP_BATCH=512
LYRICS_LOOKUP_CONCURRENCY=128
LYRICS_LOOKUP_CLAIM_SECONDS=1200
LYRICS_LOOKUP_BACKFILL_BATCH=20000
LYRICS_ALIGN_REJECTED_RETRY_DAYS=30
EMBED_LYRICS_DISPATCH=false
INDEX_AUDIO_DISPATCH=false
TRANSCRIBE_DISPATCH=false
SOUNDCLOUD_TOKEN_URL=https://secure.soundcloud.com/oauth/token
SOUNDCLOUD_API_URL=https://api.soundcloud.com
STORAGE_URL=http://127.0.0.1:3002
STORAGE_TOKEN=dev-internal
STREAMING_SERVICE_URL=http://127.0.0.1:8080
INTERNAL_TOKEN=dev-internal
SYNC_QUEUE_CONCURRENCY=16
SYNC_QUEUE_CLAIM_BATCH=16
SYNC_QUEUE_LEASE_SECONDS=300
SOUNDCLOUD_OAUTH_APP_NAME=default
SOUNDCLOUD_CLIENT_ID=
SOUNDCLOUD_CLIENT_SECRET=
SOUNDCLOUD_REDIRECT_URI=http://localhost:3000/auth/callback
RUST_LOG=info,jobs=debug,sqlx=warn,tower_http=info
ADMIN_MAINTENANCE_SCAN_BATCH=2000
PLAYLIST_RECONCILE_SWEEP_BATCH=128
PLAYLIST_RECONCILE_CLAIM_SECONDS=300
PLAYLIST_RECONCILE_SWEEP_SECONDS=60
PLAYLIST_RECONCILE_OWNER_SHARE=8
PLAYLIST_LEGACY_DRAIN_BATCH=500
PLAYLIST_MEMBERSHIP_REMOTE_APPLY=false
